* {
    margin: 0;
    padding: 0;
}

span {
    border: 2px solid black;
    height: 120px;
}

.gameBoard {
    height: 360px;
    width: 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

span:hover {
    border: 2px double lightgreen;
}

p {
    line-height: 120px;
    font-size: 50px;
    text-align: center;
}